<!-- Services Section -->
    <section id="projects" class="projects-section bg-light">>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our projects</h2>
                    <h3 class="section-subheading text-muted">We believe work and play are equal sources of enjoyment</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-6 col-lg-4 col-lg-offset-2">
                    <img src="img/projects/my-city.png" class="img-project">
                </div>
                <div class="ol-md-6 col-sm-6 col-xs-6 col-lg-4 text-justify">
                    <h4 class="section-subheading text-muted">my city</h4>
                    <p>Our Alexa skill is designed to offer personalized and curated tips to the best attractions and entertainment experiences in your city. No more wasting time researching different channels to discover the perfect things to do. From new restaurants and coffee shops to exhibitions, plays and places to wander about, 'my city' helps you discover and organize your next escape.</p>
                </div>
            </div>
        </div>
    </section>